@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-colour: #fffdfa;
  --secondary-colour: #154724;
  --accent-colour: #9fe644;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: var(--primary-colour);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: rows;
  grid-auto-rows: auto;
  gap: 24px;
}

.box {
  grid-column: 1 / -1;
  min-height: 100px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  color: var(--accent-colour);
  background-color: var(--secondary-colour);
}
.nav h1 {
  margin-left: 16px;
}

.main {
  font-weight: 900;
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
  background: url("./images/bgImg.png") no-repeat fixed;
  background-size: cover;
}
.main .overlay {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.main h2 {
  margin-bottom: 42px;
  width: 100%;
  letter-spacing: 2px;
  font-size: 36px;
}

.main p {
  font-weight: 700;
  color: #d8cece;
}
.main a {
  align-self: flex-end;
  padding: 8px;
  margin-top: 16px;
  color: var(--secondary-colour);
  text-decoration: none;
  transition: all 0.3s ease-in;
  background-color: var(--accent-colour);
}

.main a:hover {
  border: 1px solid var(--primary-colour);
}

h1 {
  font-size: calc(20px + 1vw);
}

img {
  /* display: none; */
  width: 48px;

}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1fr);
  grid-auto-columns: 90px;
  height: 500px;
  overflow-x: auto;
  gap: 16px;
}
.card {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: span 3;
  grid-row: span 7;
  position: relative;
  padding: 16px;
  background-size: 2000px 800px;
  background-image: linear-gradient(to right, var(--secondary-colour), var(--primary-colour), var(--secondary-colour));
  animation: loading 3s infinite normal;
  /* background-size: cover; */
}
.corner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  padding: auto;
  background-color: rgba(159, 230, 68, 0.6);
  backdrop-filter: blur(10px);
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
.corner span {
  display: inline-block;
  transform: rotate(-45deg);
  font-weight: bold;
}

.productName {
  grid-area: 5 / 1 / 6 / 4;
}
.productDesc {
  grid-area: 6 / 1 / 7 / 4;
  margin-bottom: 8px;
}
.productAction {
  grid-area: 7 / 3 / 8 / 4;
  padding-block: 8px;
  margin-top: 8px;
  border: 2px solid var(--accent-colour);
  cursor: pointer;
  transition: all 0.3s ease;
}
.productAction:hover {
  background-color: var(--accent-colour);
}

.contact h2{
  margin-block: 16px;
  font-size: 24px;
}
.contact .info {
  gap: 8px;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
.contact a {
  color: var(--secondary-colour);
  text-decoration: none;
}

.material-symbols-outlined {
  margin-right: 4px;
  color: var(--secondary-colour);
  font-variation-settings:
  'Fill' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  ;
}

/* image loading place holder */
.miniLoading {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 192px 192px;
  background-image: linear-gradient(to right, var(--secondary-colour), var(--primary-colour), var(--secondary-colour));
  animation: loading 2s infinite normal;
}

@keyframes loading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    grid-column: 1 / 3;
  }
  .carousel {
    grid-area: 2 / 3 / 5 / 5;
  }
}

@media screen and (min-width: 1279px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
  .contact {
  grid-area: 1 / 1 / 4 / 2;
  }
  .nav {
    grid-area: 1 / 2 / 2 / 4;
  }
  .carousel {
    grid-area: 1 / 4 / 4 / 6;
  }
  .main {
    grid-area: 2 / 2 / 4 / 4;
  }
}