@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-colour: #fffdfa;
  --secondary-colour: #154724;
  --accent-colour: #9fe644;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;
  padding: 16px;
  font-family: 'Montserrat';
  font-size: 16px;
  background-color: var(--primary-colour);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: rows;
  /* grid-auto-rows: 1fr; */
  gap: 24px;
}

.box {
  grid-column: 1 / -1;
  min-height: 100px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  color: var(--accent-colour);
  background-color: var(--secondary-colour);
}
.nav h1 {
  margin-left: 16px;
}

.main {
  grid-row: 2 / 5;
  font-weight: 800;
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
  background: url("./images/bgImg.png") no-repeat 50% 50% fixed;
  background-size: cover;
}
.main .overlay {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.main h2 {
  margin-bottom: 16px;
  font-size: clamp(24px, 10vw, 42px);
}
.main a {
  align-self: flex-end;
  padding: 8px;
  margin-top: 8px;
  color: var(--primary-colour);
  text-decoration: none;
  border: 1px solid var(--primary-colour);
  background-color: var(--accent-colour);
}

h1 {
  font-size: calc(20px + 1vw);
}
.main h2 {
  font-size: 42px;
}

img {
  /* display: none; */
  width: 32px;
  height: auto;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100px;
  height: 350px;
  overflow-x: auto;
  gap: 16px;
}
.card {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(5, 1fr);
  grid-column: span 2;
  grid-row: span 3;
  position: relative;
  height: min(400px, 100%);
  padding: 16px;
  background-color: var(--primary-colour);
  background-size: cover;
}
.corner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  padding: auto;
  background-color: rgba(159, 230, 68, 0.6);
  backdrop-filter: blur(10px);
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
.corner span {
  display: inline-block;
  transform: rotate(-45deg);
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); */
  font-weight: bold;
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.productName {
  grid-area: 4 / 1 / 5 / -1;
}
.productDesc {
  grid-area: 5 / 1 / 6 / -1;
}
.productAction {
  grid-area: 6 / 2 / 7 / -1;
  padding-block: 4px;
  border: 1px solid var(--accent-colour);
}

.contact h2{
  font-size: 24px;
}
.contact .info {
  display: flex;
  flex-direction: row;
  margin-block: 4px;
}
.contact a {
  color: var(--secondary-colour);
  text-decoration: none;
}

.material-symbols-outlined {
  margin-right: 4px;
  color: var(--secondary-colour);
  font-variation-settings:
  'Fill' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  ;
}

/* image loading place holder */
.miniLoading {
  display: inline-block;
  display: none;
  width: 32px;
  height: 32px;
  background-size: 128px 128px;
  background-image: linear-gradient(to right, var(--secondary-colour), var(--primary-colour), var(--secondary-colour));
  animation: loading 2s infinite normal;
}

@keyframes loading {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    grid-column: 1 / 3;
  }
  .carousel {
    grid-area: 2 / 3 / 5 / 5;
  }
}

@media screen and (min-width: 1279px) {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
  .contact {
  grid-area: 1 / 1 / 4 / 2;
  }
  .nav {
    grid-area: 1 / 2 / 2 / 4;
  }
  .carousel {
    grid-area: 1 / 4 / 4 / 6;
  }
  .main {
    grid-area: 2 / 2 / 4 / 4;
  }
}